ul {
  padding-left: 30px;
}

li {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
  color: #184f6b;
  width: 250px;
}
img {
  width: 20px;
  height: 20px;
}
.togglable {
  cursor: pointer;
}

.togglable-down::after,
.togglable-up::after {
  font-size: 8px;
  margin-left: 0.5em;
}

.togglable-down::after {
  content: "▼";
  display: inline-block;
}

.togglable-up::after {
  content: "▶";
  display: inline-block;
}
