body{
    font-family: 'Roboto',sans-serif;
    margin: 0px;
}
ul {
    list-style: none;
}
#nav_bar li{
    display: inline-block;
    padding: 8px;
}
.nav-flex-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 8px;
    align-items: baseline;
}
#nav_bar #sign_in {
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
    background: #4887ef;
    color: #ffffff;
    margin-left: 8px;
}
#sign_in:hover{
    box-shadow: 1px 1px 5px #999999;
}
.nav-link{
    color: #404040;
}
li.nav-link a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
}
#myPopup ul{
    padding: 0px;
}
.popup .popupmenu {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    visibility: hidden;
    width: 200px;
    text-align: center;
    border-radius: 2px;
    padding: 8px 0;
    position: absolute;
    top: 125%;
    left: 50%;
    margin-top: 35px;
    margin-left: -100px;
    background-color: #FFFFFF;
    color: #757575;
    border: 1px solid #757575;
}
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
.g_menu{
    width: 14px;
    height: 14px;
}
.g_menu_icon{
    width: 34px;
    height: 34px;
}
.google_microphone{
    position: absolute;
    height: 24px;
    top: 10px;
    right: 18px;
}
.g_body{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 90px;
}
.google #google_logo{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.form{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}
.form #search_form{
    box-sizing: border-box;
    font: 16px;
    height: 45px;
    padding: 0 15% 0 4%;
    width: 574px;
    max-width: 574px;
    outline: none;
    box-shadow: 0px 3px 4px #00000033, inset 0px -3px 4px #ffffff;
    border: 1px solid #eee;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}
.buttons #google_search{
    border-radius: 2px;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 36px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
}
.buttons #google_lucky{
    border-radius: 2px;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 36px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
}
footer{
    flex: 0 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #F2F2F2;
    border-top: solid 2px #e4e4e4;
}
footer ul li {
    display: inline;
    font-size: 14px;
    padding: 13px;
    color: #666666;
}
.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    line-height: 40px;
    padding: 0 30px;
}
.footer_nav .plain-text {
    color: #666;
}
.footer_nav .plain-text:hover {
    text-decoration: underline;
}
.left_nav a{
    padding-left: 20px;
}
.right_nav a{
    padding-left: 20px;
}




  


