.header {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin-bottom: 120px;
}
.str {
	opacity: 0.85;
	color:#000;
	line-height: 24px;
	vertical-align: middle;
	font-family: arial,sans-serif;
	font-size: 13px;
}

.str li {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
	cursor: pointer;
}

.str li:hover{
	text-decoration: underline;
}

.str li a{
	color: #000;
	text-decoration: none;
}

.str li img {
	background-position: -132px -38px;
	opacity: 0.55;
}

.str li img:hover{
	opacity: 1;
}
 .str button {
 	color: #fff;
 	cursor: default;
 	text-decoration: none;
 	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
 	box-shadow: 0px 1px 0px rgba(0,0,0,0.15);
 	border: 1px solid #4285f4;
 	font-weight: bold;
	outline: none;
	background: linear-gradient(top,#4387fd,#4683ea);
	background-color: #4285f4;
	width: 70px;
	height: 30px;
	border-radius: 10px;
 }

 .str button:hover {    
	color: #fff;     
	border: 1px solid #1E90FF; 
	background-color: #1E90FF; 
  }



.Google-search {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text{
	display: inline-block;
	line-height: 28px;
	font-size: small;
	color: #222;
	font-family: arial,sans-serif;
}

.Google {
	margin-bottom: 30px;
}

.area {
	position: relative;
	margin-bottom: 30px;
	border-radius: 2px;
	outline: none;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0 ,0, .08);
}

.enter{
	width: 550px;
	padding: 15px;
	border:0;
	outline: none;
}

.Buttons {
	margin-bottom: 30px;
}

.Buttons button{
	font-size: small;
	font-weight: bold;
	padding: 10px 16px;
	cursor: auto;
	text-align: center;
	color: #757575;
	border: 1px solid #F5F5F5;
	border-radius: 2px;
	background-color: #F5F5F5;
	margin-right: 2px;
}
.Buttons button:focus {
	border: 1px solid #D3D3D3;
	outline: none;
}

.Buttons button:hover {     
	color: #222;     
	border: 1px solid #c6c6c6; 
	background-color: #f8f8f8; 
  }