html,
body,
li
{
    font-family: arial, sans-serif;

    margin: 0;
    padding: 0;
}

body
{
    display: flex;

    min-height: 100vh;

    flex-wrap: wrap;
    flex-flow: row wrap;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.main-header
{
    display: flex;

    width: 100%;
    padding: 15px 30px 0 0;

    justify-content: flex-end;
    flex-wrap: wrap;
}

main
{
    width: 100%;
    margin-top: 24vh;
}

.list-top-icons li
{
    display: inline-block;

    margin-right: 15px;

    vertical-align: middle;
}

.list-top-icons li a
{
    font-size: 13px;
}

li a,
footer p
{
    font-family: arial, sans-serif;

    color: #737373;
}

.list-top-icons li:last-child
{
    margin-right: 0;
}

.list-top-icons .options
{
    line-height: 0;

    display: inline-block;

    width: 22px;
    height: 23px;

    vertical-align: middle;

    opacity: .5;
    background: url('images/options.png') no-repeat center;
}

.list-top-icons .options:hover
{
    opacity: 1;
}

.list-top-icons .enter
{
    font-weight: bold;

    padding: 7px 13px;

    color: #fff;
    border: none;
    border-radius: 2px;
    background-color: #4583ec;
}

.list-top-icons .enter:hover
{
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.search-section
{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.logo img
{
    width: 272px;
    height: 92px;
    margin-bottom: 25px;
}

.input-wrap
{
    position: relative;

    margin-bottom: 30px;

    transition: all .4s ease;
    transition: box-shadow .4s ease;

    border-radius: 2px;
    outline: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
}

.entry-field
{
    width: 550px;
    padding: 15px;

    border: 0;
    outline: none;
}

.input-wrap:hover
{
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
}

.btn-wrap
{
    margin-bottom: 30px;
}

.btn-wrap button
{
    font-size: 13px;
    font-weight: bold;

    padding: 10px 16px;

    cursor: pointer;
    text-align: center;

    color: #757575;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    background-color: #f2f2f2;
}

.btn-wrap button:first-child
{
    margin-right: 3px;
}

.btn-wrap button:focus
{
    border: 1px solid #4d90fe;
    outline: none;
}

.btn-wrap button:hover
{
    color: #222;
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.keyboard,
.voice
{
    position: absolute;
}

.keyboard
{
    line-height: 0;

    top: 18px;
    right: 60px;

    display: inline-block;

    width: 19px;
    height: 11px;

    vertical-align: middle;

    opacity: .6;
    background: url('images/keyboard.gif') no-repeat center;
}

.keyboard:hover
{
    opacity: .8;
}

.keyboard-link .show-key,
.voice-link .show-voice
{
    position: relative;

    display: none;
}

.arrow-up
{
    position: absolute;
    top: 0;
    left: 50%;

    width: 0;
    height: 0;
    margin-top: -5px;
    margin-left: -5px;

    border-right: 5px solid transparent;
    border-bottom: 5px solid #292929;
    border-left: 5px solid transparent;
}

.keyboard-link:hover .show-key
{
    font-size: 11px;
    font-weight: bold;

    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    margin-bottom: -35px;
    padding: 9px 9px;

    color: #fff;
    background: #292929;
}

.voice-link:hover .show-voice
{
    font-size: 11px;
    font-weight: bold;

    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    margin-right: -26px;
    margin-bottom: -35px;
    padding: 9px 9px;

    color: #fff;
    background: #292929;
}

.voice
{
    line-height: 0;

    top: 13px;
    right: 20px;

    display: inline-block;

    width: 18px;
    height: 23px;

    vertical-align: middle;

    background: url('images/voice.png') no-repeat center;
    background-size: 24px 24px;
}

.text
{
    font-size: 13px;

    margin-bottom: 60px;
}

.text a
{
    padding: 0 3px;

    color: #1a0db3;
}

footer
{
    width: 100%;
    margin-top: auto;
}

.f-container
{
    background-color: #f2f2f2;
}

.f-container .country
{
    font-size: 15px;

    padding: 13px 0 13px 30px;

    border-top: 1px solid #e4e4e4;
}

.footer-content
{
    font-size: 13px;

    padding: 13px 0 13px 30px;

    border-top: 1px solid #e4e4e4;
}

.footer-links
{
    display: flex;
}

.footer-links-right
{
    float: right;
}

.footer-content li
{
    margin-right: 30px;
}