.children{
    display: inline-block;
    margin: 5px 10px;
    padding: 0px 5px;
    border-left: solid black 1px;
}
.childrenXHR{
    display: inline-block;
    margin: 5px 10px;
    padding: 0px 5px;
    border-left: solid red 1px;
}
.container {
    width: 100%;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}