body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#root {
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 0 0 5px 5px;
}

#root h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
}

#root input[type="text"] {
  width: 466px;
  font-size: 14px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#todo-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

#todo-list li {
  padding: 18px 20px 18px 0;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
}

#todo-list li:last-child {
  border-bottom: none;
}

#todo-list .del {
  position: absolute;
  right: 5px;
  top: 20px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

#todo-list li:hover .del {
  display: block;
}

#todo-list .del:hover {
  background-position: 0 -20px;
}

#todo-list li.editing {
  border-bottom: none;
  margin-top: -1px;
  padding: 0;
}

#todo-list li.editing:last-child {
  margin-bottom: -1px;
}

#todo-list li .view label {
  word-break: break-word;
}

#todoapp footer {
  margin: 0 -20px -20px -20px;
  overflow: hidden;
  color: #555555;
  background: #f4fce8;
  border-top: 1px solid #ededed;
  padding: 0 20px;
  line-height: 37px;

  border-radius: 0 0 5px 5px;
}

#btns {
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  color: #555555;
  font-size: 11px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 10px 1px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}

#btns:hover {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

#btns:active {
  position: relative;
  top: 1px;
}
