body{
  margin: 0px;
  padding: 0px;
  font: 16px Arial;
}
h1,h2,h3,h4,h5,h6,p,span,img{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}
